body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button-nav{
  text-align:center;
  width:230px;
  font-family:'Pokemon Solid', sans-serif;
  font-weight: 0;
  border-radius: 10px;
  margin: 50px 50px;
  padding: 15px 30px;
  text-decoration: none;
  color:#747bff;
  background-color: #f8dff7;
  
}

.navigation_bar{

  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: normal;
}

.link {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
}
.font-link{
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 80px;
}
.font-linkily{
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 20px;
  text-align: center;
}

.img {
  max-width: 200px;
  max-height: 200px;
}
  .pokemon-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    background: radial-gradient(hsl(0, 59%, 78%), hsl(0, 100%, 70%)); /* Standard syntax */
    text-shadow: 0 -1px 0 #e68080;
    color: white;
    border: solid 1px hsl(0, 100%, 70%);
    border-radius: 100%;
    z-index: 1;
  }
  .pokemon-btn{
    border-radius: 50%;
  }
  .pokemon-input:focus {
    border-color: #ffffff;
  }
  
  .pokemon-input:focus::-webkit-input-placeholder{
    color: rgba(255,255,255, 1);
  
  }
  .pokemon-input::-webkit-input-placeholder {
    color: rgba(255,255,255, .8);
  }
  .pokemon-input{
    font-family: system-ui;
    padding: 10px;
    background-color: var(--orange);
    border: none;
    border: 1px solid black;
    border-radius: 10px;
    outline: 0;
    font-size: 1em;
    flex-grow: 1;
    transition: .2s;
  }
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #F6D6A7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f8dff7;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #FBE3DF;
}
.grass {
  background-color:#E2F9E1;
}
.water {
  background-color:#E0F1FD;
}
.ground{
  background-color:#786358;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 0.8rem;
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px 50px;
  padding: 15px 30px;
}
.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 ;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}
h3 {
  margin-bottom: 0.2rem;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255,255,255,0.3);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}
.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
